form {
	width: 60%;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
	form {
		width: 90%;
	}
}