/*!
 * This is the main css file for this ecommerce web application.
 */

body {
  padding-top: 56px;
  margin-bottom: 100px;
}

button {
  cursor: pointer;
}

.loading {
  position: fixed;
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 2000;
  /* background: url(/link/to/your/image);
  background-size: 100%; */
}

.json-overlay {
  background-color: #333;
  opacity: 0.8;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1999;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background-image: url('ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat; */
}

.badge-notify {
  background: rgb(238, 42, 58);
  position: relative;
  top: -22px;
  left: -8px;
}

.checkout-page {
  margin-top: 40 px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #575555;
}